<div>
    <img src="images/beer.png"/>

    <a href="/beers">
        <button>Check the Beers!</button>
    </a>
    <br> <!--esto lo he añadido en clase, el resto Sí lo tenía hecho -->
    <a href="/random-beer">
    <button>Check a Random Beer!</button>
    </a>
</div>